body {
  font-family: 'monospace', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.flexbox_vert {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 98vh;
    border: 3px solid black;
    background-color: #f8f8f8;
}

#flexbox_vert_igra > div {
    flex: 1;
}

#flexbox_vert_igra_notranja {
    justify-content: center;
    border: none;
}

.flexbox_hor {
    display: flex;
    flex-direction: row;
    justify-content: left;
    border: 3px solid black;
    background-color: #f8f8f8;
    height: 98vh;
}

#flexbox_hor_igra {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    background-color: #f8f8f8;
}

.flexbox_hor > form {
    flex: 1;
}

.flexbox_hor > div {
    flex: 1;
}

#flexbox_velikost {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    height: 15vw;
    margin: 120px;
    width: 63vw;
    background-color: inherit;
}

#goban {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 96vh;
    padding: 20px;
    border: 3px solid black;
    background-color: inherit;
}

#goban > div {
    flex: 1; 
}

.vrstica {
    display: flex;
    background-color: inherit;
    width: inherit;
}

.vrstica > form {
    flex: 1;
}

.polje {
    background-color: #f8f8f8;
    position: relative;
    outline: none;
    border: none;
    margin: 0;
	padding: 0;
	font-size: 100%;
	font-family: inherit;
    vertical-align: baseline;
    height: 100%;
    width: 100%;
}

.prazno.sredina:before{
    position: absolute;
    left: 50%;
    top: 0;
    width: 1px;
    background: #000000;
    content: "";
    height: 100%;
    display: block;
}

.prazno.sredina:after{
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    background: #000000;
    content: "";
    height: 1px;
    display: block;
}

.prazno.zgoraj:not(.levo):not(.desno):before {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    background: #000000;
    content: "";
    height: 1px;
    display: block;
}

.prazno.zgoraj:not(.levo):not(.desno):after {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 1px;
    background: #000000;
    content: "";
    height: 50%;
    display: block;
}

.prazno.spodaj:not(.levo):not(.desno):before {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    background: #000000;
    content: "";
    height: 1px;
    display: block;
}

.prazno.spodaj:not(.levo):not(.desno):after {
    position: absolute;
    left: 50%;
    top: 0;
    width: 1px;
    background: #000000;
    content: "";
    height: 50%;
    display: block;
}

.prazno.levo:not(.zgoraj):not(.spodaj):before {
    position: absolute;
    left: 50%;
    top: 0;
    width: 1px;
    background: #000000;
    content: "";
    height: 100%;
    display: block; 
}

.prazno.levo:not(.zgoraj):not(.spodaj):after {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 50%;
    background: #000000;
    content: "";
    height: 1px;
    display: block; 
}

.prazno.desno:not(.zgoraj):not(.spodaj):before {
    position: absolute;
    left: 50%;
    top: 0;
    width: 1px;
    background: #000000;
    content: "";
    height: 100%;
    display: block; 
}

.prazno.desno:not(.zgoraj):not(.spodaj):after {
    position: absolute;
    left: 0;
    top: 50%;
    width: 50%;
    background: #000000;
    content: "";
    height: 1px;
    display: block; 
}

.prazno.zgoraj.levo:before {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 50%;
    background: #000000;
    content: "";
    height: 1px;
    display: block; 
}

.prazno.zgoraj.levo:after {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 1px;
    background: #000000;
    content: "";
    height: 50%;
    display: block; 
}

.prazno.zgoraj.desno:before {
    position: absolute;
    left: 0;
    top: 50%;
    width: 50%;
    background: #000000;
    content: "";
    height: 1px;
    display: block; 
}

.prazno.zgoraj.desno:after {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 1px;
    background: #000000;
    content: "";
    height: 50%;
    display: block; 
}

.prazno.spodaj.levo:before {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 50%;
    background: #000000;
    content: "";
    height: 1px;
    display: block; 
}

.prazno.spodaj.levo:after {
    position: absolute;
    left: 50%;
    top: 0;
    width: 1px;
    background: #000000;
    content: "";
    height: 50%;
    display: block; 
}

.spodaj.desno:before {
    position: absolute;
    left: 0;
    top: 50%;
    width: 50%;
    background: #000000;
    content: "";
    height: 1px;
    display: block; 
}

.prazno.spodaj.desno:after {
    position: absolute;
    left: 50%;
    top: 0;
    width: 1px;
    background: #000000;
    content: "";
    height: 50%;
    display: block; 
}

.crni:not(.zadnja) {
    background-color: black;
    border: 1px solid black;
    border-radius: 50%;
}

.crni.zadnja {
    background-color: black;
    border-radius: 50%;
    box-shadow: inset 0px 0px 0px 3px red;
}

.beli:not(.zadnja) {
    background: white;
    border: 1px solid black;
    border-radius: 50%;
}

.beli.zadnja {
    background: white;
    border-radius: 50%;
    box-shadow: inset 0px 0px 0px 3px red;
}

.beli:not(.konec) {
    pointer-events: none;
}

.crni:not(.konec) {
    pointer-events: none;
}

.samomor {
    pointer-events: none;
}

.ko {
    pointer-events: none;
    border: 5px solid black    
}

.na_potezi_beli:hover {
    background: white;
    border: 1px solid black;
    border-radius: 50%;
}

.na_potezi_crni:hover {
    background-color: black;
    border: 1px solid black;
    border-radius: 50%;
}

.konec:not(.crni):not(.beli) {
    pointer-events: none;
}

.pozdrav {
    height: 90px;
    width: 90vw;
    margin: 5px;
    text-align: center;
    vertical-align: middle;
    line-height: 90px;
}

.izbira {
    height: 70px;
    width: 90vw;
    margin: 5px;
    text-align: center;
    vertical-align: middle;
    line-height: 70px;
}


#box_index {
    border: 2px solid black;
    width: 30vw;
    height: 30vw;
    margin: 50px;
    text-align: center;
}


.button_index {
    font-size: 100%;
    font-family: inherit;
    border: 0;
    padding: 0;
    border: 2px solid black;
    color: black;
    width: 30vw;
    height: 8vw;
    margin: 1vw;
}

.button_velikost {
    font-size: 200%;
    height: 15vw;
    width: 15vw;
    border: 2px solid black;
    color: black;
    margin: 3vw;
}

.button_igra {
    font-size: 200%;
    border: 2px solid black;
    color: black;
    margin: 2vw; 
    height: 8vw;
    width: 8vw;
}

button:hover {
    color: white;
    background-color: black;
    cursor: pointer;
}
